<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="dismiss()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<h2>{{marker.title}}</h2>
<p>{{marker.info}}</p>
<p><a (click)="openWeb()">{{marker.web}}</a></p>
<ion-button expand="block" (click) ="openWeb()">Vist Website</ion-button>

</ion-content>
<ion-footer>
  <ion-button expand="block" (click) ="dismiss()">Close</ion-button>
</ion-footer>