<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Notes</h1>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addNote()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let note of notes; index as i">
      <ion-item-options slide="end">
        <ion-item-option color="danger" (click)="delete(i)">Delete</ion-item-option>
        <ion-item-option (click)="edit(i)">Edit</ion-item-option>
      </ion-item-options>
      <note [note]="note" (click)="openNote(i)"></note>
    </ion-item-sliding>
  </ion-list>
</ion-content>
