<ion-header>
  <ion-toolbar>
    <ion-title (click)="browser.openBrowser('http://www.apple.com')">Find</ion-title>
    <ion-buttons slot="end">
      <ion-button id="pop-menu"><ion-icon slot="icon-only" name="location-outline"></ion-icon></ion-button>
      <ion-popover trigger="pop-menu" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">
                <ion-label (click)="markHappyPlaces()">Happy Spots</ion-label>
              </ion-item>
              <ion-item [button]="true" [detail]="false">
                <ion-label (click)="markPlaces()">Mental Health Support</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div #map id="map"></div>
</ion-content>
